@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager


@if (!signInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    
    </div>
    <div class="text-center">
        
        <h3><a asp-controller="User" asp-action="Login">Login</a> to use the app.</h3>
        
        <h4>Don't have an account? <a asp-controller="User" asp-action="Register">Register here</a>.</h4>
    </div>
}