@model FoodInDiary
<div class="container ">
	<div class="row justify-content-center align-items-center" style="height:100vh;">
		<div class="col-md-6">

			<form method="post" class="text-center">
				<input asp-for="Id" hidden />
				<div class="card p-3 mt-4 ">
					<div class="row card-header bg-secondary bg-gradient pb-2 p-1">
						<h2 class="text-info">
							Delete Food From Diary
						</h2>
						<hr />
					</div>
					<div class=" mb-3 p-1">
						<label asp-for="FoodName" class="form-label"></label>
						<input asp-for="FoodName" type="text" disabled class="form-control text-center" />

					</div>
					<div class="row mb-3 p-1">
						<label asp-for="Grams" class="form-label"></label>
						<input asp-for="Grams" type="number" disabled min="0" class="text-center form-control" />


					</div>
					
					<div class="row mb-3 p-1">
						<label asp-for="Proteins" class="form-label"></label>
						<input asp-for="Proteins" type="number" disabled min="0" class="text-center form-control" />


					</div>
					<div class="row mb-3 p-1">
						<label asp-for="Carbs" class="form-label"></label>
						<input asp-for="Carbs" type="number" disabled min="0" class="text-center form-control" />


					</div>
					<div class="row mb-3 p-1">
						<label asp-for="Fat" class="form-label"></label>
						<input asp-for="Fat" type="number" disabled min="0" class="text-center form-control" />


					</div>
					<div class="row mb-3 p-1">
						<label asp-for="Calories" class="form-label"></label>
						<input asp-for="Calories" type="number" disabled min="0" class="text-center form-control" />


					</div>
					<div class="row justify-content-center">
						<div class="col-6 ">
							<button type="submit" class="btn btn-primary form-control">Delete</button>

						</div>
						<div class="col-6 ">

							<a asp-controller="Diary" asp-action="Index" class="btn btn-outline-secondary border form-control">Back to Diary</a>
						</div>
					</div>


				</div>
			</form>
		</div>
	</div>
</div>