@model FoodInDiary

<div class="container">
	<div class="row justify-content-center " style="height:80vh;">
		<div class="col-md-6">

			<form method="post" class="text-center">
				<input asp-for="Id" hidden />
				<input hidden name="isInHistory" value="@ViewBag.IsInHistory" />
				<div class="card  p-3 mt-4 ">
					<div class="row card-header bg-secondary bg-gradient pb-2 p-1">
						<h2 class="text-info">
							Izmeni Hranu 
						</h2>
						<hr />
					</div>
					<div class="row">
					<div class="form-floating py-2 col-md-6">
							<input asp-for="FoodName" disabled type="text" class="text-center  form-control" />
							<label asp-for="FoodName" class="form-label text-dark ms-4"></label>
							<span asp-validation-for="FoodName" class="text-danger"></span>
					</div>
					<div class="form-floating py-2 mb-3 p-1 col-md-6">
							<input asp-for="Grams" type="number" min="1" class="text-center form-control" step="0.01" pattern="\d+(\.\d{1,2})?" title="Molimo unesite broj sa najviše dve decimale da je različit od 0." />
						<label asp-for="Grams" class="form-label text-daalert-dark ms-4"></label>
						<span asp-validation-for="Grams" class="text-danger"></span>

					</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-6 ">
							<button type="submit" class="btn btn-primary form-control">Sačuvaj</button>

						</div>
						<div class="col-6 ">

							<a asp-controller="Diary" asp-action="Index" class="btn btn-outline-secondary border form-control">Nazad na detalje</a>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}